* {
  margin: 0px;
  padding: 0px;
  background-color: slategray;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.gameboard {
  padding: 20px; 
  box-sizing: border-box;
  height: 340px;
  width: 340px;
  background-color: lightgoldenrodyellow;

  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  gap: 4px;
}

.title, 
.turn {
  color: white;
  width: 340px;
  margin: 10px;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1.2rem;
}

.turn {
  font-size: 1rem;
}

.index {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  font-family: sans-serif;
}