:root {
  --color-dark: #164e63;
  --color-med: #0891b2;
  --color-light: #22d3ee;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  background-color: var(--color-dark);
}

.gameboard {
  padding: 20px; 
  box-sizing: border-box;
  height: 340px;
  width: 340px;
  background-color: var(--color-light);

  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  gap: 4px;
}

.title, 
.turn,
.footer,
button {
  color: white;
  width: 340px;
  margin: 10px;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1.2rem;
}

.turn {
  font-size: 1rem;
}

.index {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  font-family: sans-serif;
  background-color: var(--color-dark);
  color: #ecfeff;
}

button {
  height: 50px;
  width: 130px;
  color: white;
  background-color: var(--color-med);
  border-radius: 10px;
  border-width: 3px;
}